body {
    font-family: sans-serif;
    background-image: url(car.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    color: white;
}

/* Meu título */
h1 {
    text-align: center;
    font-family: 36px;
    margin-top: 20px;
    color: #FFD100;
    text-shadow: 3px 3px 8px black;
}

/* Todos os H trocam a cor dos títulos e subtítulos */
h2 {
    color: #FFD100;
    margin-top: 20px;
    text-shadow: 2px 2px 5px black;
}

h3 {
    color: #ea0800;
    font-weight: bold;
    text-align: center;
    font-weight: bold;
}

.sair {
    color: #E10600;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
}

.sair:hover {
    text-decoration: underline;
}

/* estiliza um depois o outro, pois uso o > */
div>p {
    font-size: 18px;
    margin-left: 20px;
    text-shadow: 2px 2px 5px black;
}


/* Parte do dashboard/categorias/transaçoes */
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px;
    width: 220px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.4);
}

nav ul li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.025);
    transition: 0.3s;
}

nav ul li a {
    background-color: #a10702;
}

/* Quadrados transparentes */
.ret>div {
    background: rgba(18, 1, 1, 0.331);
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 120px;
    gap: 0;
    margin-top: 40px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    border-left: 7px solid #7f0400;
    font-weight: bold;
}

.ret {
    display: flex;
    justify-content: center;
    gap: 25px;
}


/* estilizanção dos quadrados */
div>div p {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 4px 4px 8px black;
    color: #FFD100;
}



/* Tabela */
table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 14px;
    overflow: hidden;
    backdrop-filter: blur(4px);
}

thead {
    background: #a80600;
}

/* Tabela tamanho*/
table th,
table td {
    padding: 12px;
    text-align: left;
}

a {
    color: #ffee00;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Quadrados  */

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: none;
    border-radius: 12px;
    flex-direction: row;
}

.qua {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 90px;
    border-radius: 12px;
    width: 220px;
    height: 130px;
    color: white;
    font-weight: bold;
}

.quad {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 90px;
    border-radius: 12px;
    width: 220px;
    height: 130px;
    color: white;
    font-weight: bold;
}

.quadr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 90px;
    border-radius: 12px;
    width: 220px;
    height: 130px;
    color: white;
    font-weight: bold;
}