body {
    font-family: sans-serif;
    background-image: url(car.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* meu botão de entrar */
button {
    padding: 12px;
    border: none;
    transition: 0.2s;
    background: #ce211e;
    cursor: pointer;
    width: 100%;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
}

/* Quando o cursor passar em cima irá fazer a transição da cor*/
button:hover {
    background: #8b0606;
}

/* Título */
.titulo {
    color: #ff1a1a;
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px black;
}


label {
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
    color: white;
}


/* Para estilizar o cadastre-se, puxei o a do ahref */
a {
    color: #ff0000;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Parte do cadastro */
input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.95);
}

/* fiz um container para ficar um quadro, e facilitar a estilização */
.container-login {
    width: 420px;
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.cadastro-texto {
    text-align: center;
    color: white;
}

/* Finalizei a página de login */