body {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(ajd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}

button {
    color: white;
    padding: 12px 35px;
    margin: 12px 0;
    text-decoration: none;
    border-radius: 12px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    background: linear-gradient(to bottom, #ff69b4, #ff1493);
    cursor: pointer;
}

/* Quando o cursor passar em cima irá fazer a transição */
button:hover {
    background: linear-gradient(to bottom, #ff85c1, #ff1a9b);
    transform: translateY(-2px);
}

h1 {
    color: rgb(255, 0, 200);
    font-size: 45px;
    font-weight: 700px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

label {
    font-size: 18px;
    font-weight: 600px;
    color: fff;
    /* sombra */
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

/* Para estilizar o cadastre-se, puxei o a do ahref */
a {
    color: #ff00cc;
    font-weight: bold;
}

a:hover {
    color:#da0086;
    text-shadow: 0 0 8px #da0086;
}